/** @format */
@font-face {
  font-family: "GolosTextWebRegular";
  src: url("../fonts/golos-text_regular.woff2") format("woff2"),
    url("../fonts/golos-text_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GolosTextWebMedium";
  src: url("../fonts/golos-text_medium.woff2") format("woff2"),
    url("../fonts/golos-text_medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GolosTextWebDemiBold";
  src: url("../fonts/golos-text_demibold.woff2") format("woff2"),
    url("../fonts/golos-text_demibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GolosTextWebBold";
  src: url("../fonts/golos-text_bold.woff2") format("woff2"),
    url("../fonts/golos-text_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GolosTextWebBlack";
  src: url("../fonts/golos-text_black.woff2") format("woff2"),
    url("../fonts/golos-text_black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

html {
  font-family: GolosText, sans-serif;
}

/* @font-face {
  font-family: "GolosTextWebVF";
  src: url("../fonts/Golos-Text_VF.woff2") format("woff2"),
    url("../fonts/Golos-Text_VF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */
